html, body {
  margin: 0;
  padding: 0;
}

.hp1 {
    display: flex;
    align-items: center;
}

.hp2 {
    height: 50px;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 10px;
}

.hp3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.hp4  {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-left: 40px;
    font-size: 30px;
}

.hp4 a {
    text-decoration: none;
    transition: 0.3 ease;
    color: black;
}

.hp4 a:hover::after {
    transition-duration: 0.5s;
    content: "";
    width: 7%;
    height: 3px;   
    background: #00880d;
    position: absolute;
    top: 80px;
    left: 207px;
}

.hp5 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-left: 40px;
    font-size: 30px;
}

.hp5 a {
    text-decoration: none;
    transition: 0.3 ease;
    color: black;
}

.hp5 a:hover::after {
    transition-duration: 0.5s;
    content: "";
    width: 13%;
    height: 3px;   
    background: #00880d;
    position: absolute;
    top: 80px;
    left: 363px;
}

.search {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 44px;
    right: 170px;
}

.search-bar {
    width: fit-content;
    border: solid;
    border-radius: 15px;
    font-size: 20px;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: #eaffea;
    border-color: #eaffea;
}

.search-bar:hover {
  background-color: #ccffcc;
}

.hp6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: end;
    padding-right: 40px;
    background-color: #eaffea;
    width: fit-content;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #00880d;
    margin-left: 1400px;
    margin-top: -45px;
    cursor: pointer;
}

.hp6 a {
  text-decoration: none;
  color:#00880d;
}

.hp6:hover {
  background-color: #ccffcc;
}

.kembali1 {
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  width: 32px;
  height: 32px;
  border-radius: 999px;
  margin-left: 20px;
  margin-top: 20px;
}

.back1 {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
  display: flex;
  padding-top: 5px;
  padding-left: 9px;
}

.kantinmami {
    width: 140px;
    margin-left: 70px;
    margin-top: 15px;
}

.km1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        margin-left: 230px;
        margin-top: -100px;
}

.rating {
    width : 20px;
    margin-left: 230px;
}

.km2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 1px;
    margin-left: 253px;
    margin-top: -22px;
}

.km3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 70px;
    margin-left: 70px;
}

.pesanan1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-left: 380px;
    margin-top: -140px;
}

.pesanan2 {
    width: 250px;
    margin-left: 70px;
    margin-top: 15px;
}

.pesanan3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 380px;
    margin-top: 10px;
    color: grey;
    font-weight: normal;
}

.pesanan4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 380px;
    margin-top: 40px;
}

hr {
  border: none;       
  border-top: 1px solid #ddd; 
  margin: 15px 0;        
  width: 1400px;
margin-left: 70px;
margin-top: 40px;
}

.pesanan5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-left: 380px;
    margin-top: -240px;
}

.cart-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  width: 400px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.cart-info {
  display: flex;
  flex-direction: column;
}

.cart-info strong {
  font-weight: bold;
  font-size: 15px;
}

.cart-info span {
  font-size: 13px;
}

.cart-price {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
}

.cart-icon {
  font-size: 18px;
}

.cart-bar {
    margin-left: 540px;
    margin-top: 180px;
}


.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 25px 30px;
  border-radius: 15px;
  text-align: center;
  width: 320px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  position: relative;
  animation: fadeIn 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.close-selesai {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

.pay-btn {
  background-color: #00880d;
  color: white;
  border-radius: 20px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-style: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  cursor: pointer;
}

.popup-body {
  font-family: Arial, Helvetica, sans-serif;
}

.popup-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: -100px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  width: 32px;
  height: 32px;
  border-radius: 999px;
  margin-left: 20px;
  margin-top: 20px;
}

.ok-button {
  background-color: #00880d;
  color: white;
  border-radius: 15px;
  height: 40px;
  font-size: 20px;
  font-style: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.ok-button a {
  text-decoration: none;
  color: white;
}

.proses  {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-left: 40px;
    font-size: 30px;
}

.proses a {
    text-decoration: none;
    transition: 0.3 ease;
    color: black;
}

.proses a:hover::after {
    transition-duration: 0.5s;
    content: "";
    width: 15%;
    height: 3px;   
    background: #00880d;
    position: absolute;
    top: 80px;
    left: 606px;
}

