html, body {
  margin: 0;
  padding: 0;
}

.hp1 {
    display: flex;
    align-items: center;
}

.hp2 {
    height: 50px;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 10px;
}

.hp3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.hp4  {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-left: 40px;
    font-size: 30px;
}

.hp4 a {
    text-decoration: none;
    transition: 0.3 ease;
    color: black;
}

.hp4 a:hover::after {
    transition-duration: 0.5s;
    content: "";
    width: 7%;
    height: 3px;   
    background: #00880d;
    position: absolute;
    top: 80px;
    left: 207px;
}

.hp5 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-left: 40px;
    font-size: 30px;
}

.hp5 a {
    text-decoration: none;
    transition: 0.3 ease;
    color: black;
}

.hp5 a:hover::after {
    transition-duration: 0.5s;
    content: "";
    width: 13%;
    height: 3px;   
    background: #00880d;
    position: absolute;
    top: 80px;
    left: 363px;
}

.search {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 44px;
    right: 170px;
}

.search-bar {
    width: fit-content;
    border: solid;
    border-radius: 15px;
    font-size: 20px;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: #eaffea;
    border-color: #eaffea;
}

.search-bar:hover {
  background-color: #ccffcc;
}

.hp6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: end;
    padding-right: 40px;
    background-color: #eaffea;
    width: fit-content;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #00880d;
    margin-left: 1400px;
    margin-top: -45px;
    cursor: pointer;
}

.hp6 a {
  text-decoration: none;
  color:#00880d;
}

.hp6:hover {
  background-color: #ccffcc;
}

.proses  {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-left: 40px;
    font-size: 30px;
}

.proses a {
    text-decoration: none;
    transition: 0.3 ease;
    color: black;
}

.proses a:hover::after {
    transition-duration: 0.5s;
    content: "";
    width: 15%;
    height: 3px;   
    background: #00880d;
    position: absolute;
    top: 80px;
    left: 606px;
}

.kantinmami  {
border-radius: 999px;
width: 80px;
margin-left: 40px;
margin-top: 40px;
}

.proses1 {
    font-family: Arial, Helvetica, sans-serif;   
    margin-left: 150px;
    margin-top: -80px;
}

.proses2 {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    margin-top: -10px;
    font-size: 15px;
    margin-left: 150px;
}

.proses3 {
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 15px;
    margin-left: 40px;
    margin-top: 40px;
}

.proses4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 40px;
}

.line {
    margin-left: 40px;
    margin-right: 40px;
}

.proses5 {
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 20px;
    margin-left: 40px;
    margin-top: 20px;
}

.proses6 {
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 20px;
    margin-left: 1220px;
    margin-top: -220px;
}

.proses7 {
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 20px;
    margin-left: 1447px;
    margin-top: 65px;
    font-size: 15px;
}

.proses8 {
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 20px;
    margin-left: 1455px;
    margin-top: 25px;
    font-size: 15px;
}

.proses9 {
    font-family: Arial, Helvetica, sans-serif;   
    margin-left: 1435px;
    margin-top: 35px;
    font-size: 15px;
    font-size: 20px;
}

.proses10 {
  background-color: #00880d;
  color: white;
  border-radius: 10px;
  height: 30px;
  font-size: 20px;
  font-style: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 150px;
  margin-left: 1360px;
  margin-top: 10px;
}
